* {
  margin: 0;
}
.main-div {
  width: 100%;
  height: 950px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
/* div {
  border: 1px solid green;
} */
.squre-1 {
  background-color: red;
}
.squre-2 {
  background-color: green;
}
.squre-3 {
  background-color: orangered;
}
.squre-4 {
  background-color: purple;
}
.squre-5 {
  background-color: palevioletred;
}
.squre-6 {
  background-color: blue;
}
.squre-7 {
  background-color: brown;
}
.squre-8 {
  background-color: lightpink;
}
.squre-9 {
  background-color: rgb(49, 0, 49);
}
.squre-10 {
  background-color: yellow;
}
.squre-11 {
  background-color: rgb(20, 122, 97);
}
.squre-12 {
  background-color: aqua;
}
