*{
    margin: 0;
}
header{
    display: flex;
    border: 1px solid black;
}
.logo{
    padding: 2%;
}
 .nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav-bar li{
    list-style: none;
    display: inline-block;
    
}
.nav-bar li a{
    font-size: 14px;
    margin-right: 25px;
    color: black;
    padding: 2px;
    text-decoration: none;
}
.side-nav-bar{
    width: 20%;
    height: 500px;
    background-color: purple;
}

.image-bar img{
    width: 30%;
    height: auto;
}
.main-section{
    display: flex;
}
.footer{
    width: 100%;
    height: 20px;
    background-color: aqua;
}

.main-pragraph{}